In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("laptop_price.csv", encoding="windows-1251")

In [7]:
df['Cpu_Company'] = df['Cpu'].apply(lambda x: x.split()[0])

In [9]:
df.sample(10)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
867,878,Lenovo,ThinkPad Yoga,2 in 1 Convertible,13.3,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.37kg,1950.00,Intel
738,746,MSI,GS63VR 7RF,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,Windows 10,1.8kg,2094.48,Intel
132,135,Acer,Swift 3,Ultrabook,14.0,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD,Intel UHD Graphics 620,Windows 10,1.6kg,884.00,Intel
152,155,Lenovo,V110-15IKB (i5-7200U/4GB/128GB/W10),Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 620,Windows 10,1.9kg,498.00,Intel
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.90,Intel
541,548,Dell,Vostro 5468,Notebook,14.0,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.6kg,735.87,Intel
249,254,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,512GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,2040.00,Intel
525,532,Lenovo,ThinkPad L470,Notebook,14.0,Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 7,2.02kg,1340.00,Intel
1193,1211,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8GB,256GB Flash Storage,Intel HD Graphics 5300,Mac OS X,0.920kg,1163.00,Intel
509,516,Lenovo,Legion Y520-15IKBN,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1060,No OS,2.4kg,1149.00,Intel

In [10]:
def calculate_mem(stri):
    arr_stri = stri.split()
    gb = 0;
    
    for s in arr_stri:
        if 'GB' in s:
            gb+= float(s[:-2])
        if 'TB' in s:
            gb+= float(s[:-2])*1024
    return int(gb)

In [13]:
df['Memory_Amount'] = df['Memory'].apply(calculate_mem)

In [14]:
df.sample(10)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount
1232,1250,Dell,Inspiron 3567,Notebook,15.6,Touchscreen 1366x768,Intel Core i3 7100U 2.4GHz,8GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.3kg,469.01,Intel,1024.0
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00,Intel,128.0
497,504,HP,EliteBook 840,Notebook,14.0,Full HD 1920x1080,Intel Core i7 7600U 2.8GHz,8GB,1TB SSD,Intel HD Graphics 620,Windows 10,1.48kg,1749.00,Intel,1024.0
397,404,Lenovo,ThinkPad L470,Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.9kg,938.00,Intel,256.0
386,392,Lenovo,Ideapad 510S-13IKB,Notebook,13.3,IPS Panel Full HD 1920x1080,Intel Core i3 7100U 2.4GHz,4GB,128GB SSD,Intel HD Graphics 620,Windows 10,1.5kg,549.00,Intel,128.0
586,593,HP,Omen 17-AN010nv,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1050,Windows 10,3.78kg,1498.00,Intel,1280.0
981,995,Toshiba,Portege Z30-C-1CV,Notebook,13.3,Full HD 1920x1080,Intel Core i5 6200U 2.3GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 7,1.2kg,1195.00,Intel,128.0
428,435,HP,Omen 17-w207nv,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,12GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,3.35kg,1999.00,Intel,1280.0
349,355,Dell,Inspiron 5570,Ultrabook,15.6,Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,1TB HDD,AMD Radeon 530,Windows 10,1.9kg,663.00,Intel,1024.0
512,519,Dell,Vostro 5568,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.18kg,836.00,Intel,1024.0

In [17]:
def get_type_mem(st):
    st = st.split()
    ret_st = ''
    for s in st:
        if s.isalpha():
            if ret_st:
                ret_st+=' '
            ret_st+=s;
    return ret_st

In [18]:
df['Memory_Type'] = df['Memory'].apply(get_type_mem)

In [19]:
df.sample()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
597,604,Lenovo,Thinkpad T470p,Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,256GB SSD,Intel HD Graphics 630,Windows 10,1.7kg,1474.0,Intel,256.0,SSD

In [24]:
df.drop(columns=['Memory', 'ScreenResolution'], inplace=True)

In [25]:
df.sample()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
912,925,Lenovo,IdeaPad 510-15IKB,Notebook,15.6,Intel Core i7 7500U 2.7GHz,6GB,Nvidia GeForce 940MX,Windows 10,2.2kg,789.0,Intel,256.0,SSD

In [28]:
df.loc[df['Memory_Type'].str.contains('SSD'), 'SSD'] = 1

In [29]:
df.sample()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
502,509,Lenovo,Yoga 920-13IKB,2 in 1 Convertible,13.9,Intel Core i5 8250U 1.6GHz,8GB,Intel UHD Graphics 620,Windows 10,1.4kg,1599.0,Intel,256.0,SSD,1.0

In [31]:
df['Weight'] = df['Weight'].str.replace('kg', '').astype('float')

In [32]:
df.sample(5)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
496,503,Lenovo,Ideapad 520-15IKBR,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Intel UHD Graphics 620,Windows 10,2.17,898.90,Intel,256.0,SSD,1.0
807,816,HP,15-ba043na (A12-9700P/8GB/2TB/W10),Notebook,15.6,AMD A12-Series 9700P 2.5GHz,8GB,AMD Radeon R7 Graphics,Windows 10,2.04,629.00,AMD,2048.0,HDD,NaN
1247,1265,Asus,Rog GL502VS,Gaming,15.6,Intel Core i7 6700HQ 2.6GHz,16GB,Nvidia GeForce GTX 1070,Windows 10,2.34,2325.00,Intel,1280.0,SSD HDD,1.0
448,455,MSI,GV62 7RD-1686NL,Gaming,15.6,Intel Core i5 7300HQ 2.5GHz,8GB,Nvidia GeForce GTX 1050,Windows 10,2.20,1027.74,Intel,256.0,SSD,1.0
476,483,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78,2408.00,Intel,256.0,SSD,1.0

In [40]:
clients = pd.DataFrame({'client_id':[45,32,67,33,43], 'laptop_ID':[506,398,710,120,1999]})

In [41]:
clients

   client_id  laptop_ID
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

In [47]:
clients.set_index('laptop_ID', inplace=True)

KeyError: "None of ['laptop_ID'] are in the columns"

In [48]:
clients

           client_id
laptop_ID
506               45
398               32
710               67
120               33
1999              43

In [49]:
df.set_index('laptop_ID', inplace=True)

In [50]:
clients.join(df)

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_ID,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,NaN
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,1280.0,SSD HDD,1.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
clients.merge(df, how='left', left_on='laptop_ID', right_on='laptop_ID')

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_ID,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,NaN
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,1280.0,SSD HDD,1.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.groupby(['Company']).agg()

In [63]:
df.groupby(['Company']).agg({'Price_euros': 'mean'}).sort_values('Price_euros', ascending= False)

           Price_euros
Company
Razer      3346.142857
LG         2099.000000
MSI        1728.908148
Google     1677.666667
Microsoft  1612.308333
Apple      1564.198571
Huawei     1424.000000
Samsung    1413.444444
Toshiba    1267.812500
Dell       1186.068990
Xiaomi     1133.462500
Asus       1104.169367
Lenovo     1086.384444
HP         1067.774854
Fujitsu     729.000000
Acer        626.775825
Chuwi       314.296667
Mediacom    295.000000
Vero        217.425000

In [65]:
df.groupby(['Cpu_Company']).agg({'Price_euros': ['mean', 'max', 'min']})

             Price_euros
                    mean     max    min
Cpu_Company
AMD           560.638871  2199.0  199.0
Intel        1152.214145  6099.0  174.0
Samsung       659.000000   659.0  659.0

In [69]:
df.pivot_table(index='Cpu_Company', columns='Ram', aggfunc='count', values = 'Weight', fill_value=0)

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Cpu_Company
AMD             2     3     0    1     0   31     0   13   12
Intel          23   197     3   21    17  343     1   28  607
Samsung         0     0     0    0     0    1     0    0    0

In [70]:
df.pivot_table(index='Memory_Amount', columns='OpSys', aggfunc='mean', values = 'Price_euros', fill_value=0)

OpSys,Android,Chrome OS,Linux,Mac OS X,No OS,Windows 10,Windows 10 S,Windows 7,macOS
Memory_Amount,,,,,,,,,
8.0,0,0.000000,0.000000,0.000,0.000000,2249.000000,0.000,0.000000,0.000
16.0,0,305.380000,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000
32.0,0,412.454545,0.000000,0.000,0.000000,270.001471,0.000,0.000000,0.000
64.0,434,774.333333,0.000000,0.000,0.000000,333.795556,308.995,0.000000,0.000
128.0,0,1275.000000,490.500000,1099.000,362.024000,673.385692,1039.000,1320.323333,1119.315
180.0,0,0.000000,0.000000,0.000,0.000000,1073.500000,0.000,1199.000000,0.000
240.0,0,0.000000,0.000000,0.000,0.000000,3100.000000,0.000,0.000000,0.000
256.0,0,1559.000000,795.814000,1311.994,754.834615,1214.518551,1668.950,1846.466800,1600.370
500.0,0,0.000000,389.056364,0.000,404.675385,664.717647,0.000,924.048333,0.000
508.0,0,0.000000,0.000000,0.000,0.000000,0.000000,0.000,1002.000000,0.000
512.0,0,2199.000000,0.000000,1222.000,1098.500000,1817.628286,2589.000,2235.396667,2180.870
756.0,0,0.000000,0.000000,0.000,0.000000,1497.170000,0.000,0.000000,0.000
768.0,0,0.000000,0.000000,0.000,0.000000,1607.960000,0.000,0.000000,0.000
1024.0,0,0.000000,581.401290,0.000,540.539600,880.695661,0.000,1539.666667,0.000
1088.0,0,0.000000,0.000000,0.000,0.000000,1993.000000,0.000,0.000000,0.000
1152.0,0,0.000000,994.000000,0.000,895.666667,1285.464494,0.000,0.000000,0.000
1280.0,0,0.000000,0.000000,0.000,1149.000000,1878.083562,0.000,0.000000,0.000
1536.0,0,0.000000,0.000000,0.000,0.000000,2549.750667,0.000,0.000000,0.000
2048.0,0,0.000000,0.000000,0.000,594.000000,1058.201333,0.000,0.000000,0.000
2176.0,0,0.000000,0.000000,0.000,0.000000,977.950000,0.000,0.000000,0.000
2304.0,0,0.000000,1049.000000,0.000,0.000000,1590.015556,0.000,0.000000,0.000
2560.0,0,0.000000,0.000000,0.000,0.000000,1849.000000,0.000,0.000000,0.000

In [74]:
df.groupby(['OpSys','Memory_Amount']).agg({'Price_euros': 'mean'}).unstack('OpSys').fillna(0)

              Price_euros                                                   \
OpSys             Android    Chrome OS        Linux  Mac OS X        No OS
Memory_Amount
8.0                   0.0     0.000000     0.000000     0.000     0.000000
16.0                  0.0   305.380000     0.000000     0.000     0.000000
32.0                  0.0   412.454545     0.000000     0.000     0.000000
64.0                434.0   774.333333     0.000000     0.000     0.000000
128.0                 0.0  1275.000000   490.500000  1099.000   362.024000
180.0                 0.0     0.000000     0.000000     0.000     0.000000
240.0                 0.0     0.000000     0.000000     0.000     0.000000
256.0                 0.0  1559.000000   795.814000  1311.994   754.834615
500.0                 0.0     0.000000   389.056364     0.000   404.675385
508.0                 0.0     0.000000     0.000000     0.000     0.000000
512.0                 0.0  2199.000000     0.000000  1222.000  1098.500000
756.0                 0.0     0.000000     0.000000     0.000     0.000000
768.0                 0.0     0.000000     0.000000     0.000     0.000000
1024.0                0.0     0.000000   581.401290     0.000   540.539600
1088.0                0.0     0.000000     0.000000     0.000     0.000000
1152.0                0.0     0.000000   994.000000     0.000   895.666667
1280.0                0.0     0.000000     0.000000     0.000  1149.000000
1536.0                0.0     0.000000     0.000000     0.000     0.000000
2048.0                0.0     0.000000     0.000000     0.000   594.000000
2176.0                0.0     0.000000     0.000000     0.000     0.000000
2304.0                0.0     0.000000  1049.000000     0.000     0.000000
2560.0                0.0     0.000000     0.000000     0.000     0.000000


OpSys           Windows 10 Windows 10 S    Windows 7     macOS
Memory_Amount
8.0            2249.000000        0.000     0.000000     0.000
16.0              0.000000        0.000     0.000000     0.000
32.0            270.001471        0.000     0.000000     0.000
64.0            333.795556      308.995     0.000000     0.000
128.0           673.385692     1039.000  1320.323333  1119.315
180.0          1073.500000        0.000  1199.000000     0.000
240.0          3100.000000        0.000     0.000000     0.000
256.0          1214.518551     1668.950  1846.466800  1600.370
500.0           664.717647        0.000   924.048333     0.000
508.0             0.000000        0.000  1002.000000     0.000
512.0          1817.628286     2589.000  2235.396667  2180.870
756.0          1497.170000        0.000     0.000000     0.000
768.0          1607.960000        0.000     0.000000     0.000
1024.0          880.695661        0.000  1539.666667     0.000
1088.0         1993.000000        0.000     0.000000     0.000
1152.0         1285.464494        0.000     0.000000     0.000
1280.0         1878.083562        0.000     0.000000     0.000
1536.0         2549.750667        0.000     0.000000     0.000
2048.0         1058.201333        0.000     0.000000     0.000
2176.0          977.950000        0.000     0.000000     0.000
2304.0         1590.015556        0.000     0.000000     0.000
2560.0         1849.000000        0.000     0.000000     0.000

In [75]:
pd.crosstab(index = df['Cpu_Company'], columns= df['Company'])

Company,Acer,Apple,Asus,Chuwi,Dell,Fujitsu,Google,HP,Huawei,LG,Lenovo,MSI,Mediacom,Microsoft,Razer,Samsung,Toshiba,Vero,Xiaomi
Cpu_Company,,,,,,,,,,,,,,,,,,,
AMD,10,0,11,0,0,0,0,25,0,0,16,0,0,0,0,0,0,0,0
Intel,93,21,147,3,297,3,3,249,2,3,281,54,7,6,7,8,48,4,4
Samsung,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0